<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/home' ? 'active' : '' %>" href="/">Shop</a>
                        <a class="<%= path === '/pockemon' ? 'active' : '' %>" href="/pokemon/1">Pockemon</a>
                        <a class="<%= path === '/pr10' ? 'active' : '' %>" href="/pr10">Pr10</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="card__actions">
            <h1>Pokemon List:</h1>
        </div>
        <div class="card__actions">
            <% pokemonList.forEach( pokemon => { %>
                <div class="col-5 m-0 p-0 pt-2 pb-2 pokemon"><h4><%=pokemon.name.toUpperCase()%></h4></div>
            <% }); %>
        </div>
        
        <div class="card__actions">
            <% if(page != 1) { %>
                <a href="/pokemon/1"><button class="btn btn-secondary m-2">First</button></a>
                <a href="/pokemon/<%=parseInt(page) - 1%>"><button class="btn btn-secondary m-2">Previous</button></a>
            <% } %>
            
            <button class="card__actions"><%=page%></button>
            
            <% if(page != 112) { %>
                <a href="/pokemon/<%=parseInt(page) + 1%>"><button class="btn btn-secondary m-2">Next</button></a>
                <a href="/pokemon/112"><button class="btn btn-secondary m-2">Last</button></a>
            <% } %>
        </div>
    </main>

    <script src="/js/main.js"></script>
</body>

</html>