<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/products' ? 'active' : '' %>" href="/">Shop</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/" method="POST" class="form-inline">
            <input type="text" name="searchValue" placeholder="Search by Title" class="form-control" style="width:300px">
            <button type="submit" class="btn btn-primary">Search</button>
            <% if (searchedValue.length > 0) { %>
            <a type="button" href="/" class="btn btn-default">Clear Search Results</a>
            <h3>Showing search results for: <%= searchedValue %></h3>
            <% } %>
          </form>
        <% if (prods.length> 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__name">
                                <%= product.name %>
                            </h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$
                                <%= product.price %>
                            </h2>
                            <p class="product__description">
                                <%= product.description %>
                            </p>
                            <p class="product__tags">
                                <%= product.tags %>
                            </p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product.id %>" class="btn">Details</a>
                            <form action="/add-to-cart" method="POST">
                                <button class="btn">Add to Cart</button>
                            </form>
                        </div>
                    </article>
                    <% } %>
            </div>
            <form class="actions container pagination">
                <% for(var i = 1; i <= numPages; i++) { %>
                <a href="?page=<%= i %><%= (searchedValue) ? `&searchValue=${searchedValue}` :  "" %>" class="btn <%= (page==i) ? 'btn-active' : 'btn-default' %>"><%= i %></a>
                <% } %>
              </div>
            <% } else { %>
                <h1>No Products Found!</h1>
                <% } %>
    </main>

    <script src="/js/main.js"></script>
</body>

</html>